.wordContainer{
    border: 5px solid green;
}

.wordContainer{
    
    padding: 20px;
    display: flex;
    justify-content: center;
}

.letter,.blankSquare{
    justify-self: center;
    height:100px;
    width: 100px;
    border: 3px solid green;
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    font-size: 80px;
    font-weight: 700;
    line-height: 1px;
    text-transform: uppercase;
}

.tipWord{
    color: blue;
}
.wrongLetter{
    margin-bottom: 50px;
   
}

.letterContainer{
    display: flex;
    flex-direction: column;
}


.formLetterPlay{
    display: flex;
    flex-direction: column;
}
.buttonJogar{
    width: 100px;
    align-self: center;
}

.inputJogar{
    width: 80px;
    height: 80px;
    align-self: center;
    border: 2px solid green;
    border-radius: 10px;
    font-size: 90px;
    text-transform:uppercase;
    
}

